/*=== Fonts ===*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); // Open Sans


/*=== Global ===*/
html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1em;
}


/*=== Variables ===*/
$primary-color: rgba(154, 236, 219, 1.0);
$primary-color-hover: rgba(154, 236, 219, 0.5);
$transition-speed: 0.2s;


/*=== Components ===*/
.c-radio-group {
    margin: 20px;

    &__radio {
        cursor: pointer;
        display: inline-block;

        /* Remove bottom space in display inline-block
        https://stackoverflow.com/questions/42743942/remove-bottom-space-in-display-inline-block */

        vertical-align: top; 
        position: relative;
        font-size: 22px;
        width: 40px;
        height: 40px;

        /* Hide the browser's default radio button */
        input {
            cursor: pointer;
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }
        &-label {
            font-size: 18px;
        }
        &-input {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            border: 3px solid transparent;
            color: dimgray;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            transition: $transition-speed border, $transition-speed color;
        }
        /* Hover Styles */
        /*
            &:hover input~&-input {
                border: 2px solid $primary-color-hover;
            }
        */
        input:checked ~ &-input {
            color: $primary-color;
            border: 2px solid $primary-color;
            transition: $transition-speed border, $transition-speed color;
        }
    }
}
